{
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "extends": [ "plugin:vue/vue3-essential", "eslint:recommended" ],
    "rules": {
        "semi": 2,
        "no-var": 2,
        // "no-undef": 0,
        "vue/no-deprecated-v-on-native-modifier": 1,
        "no-unused-vars": 1,
        "vue/no-deprecated-v-bind-sync": 1 //Remove in Nuxt3
    },
    "globals": {
        "defineProps": "readonly",
        "defineEmits": "readonly",
        "defineExpose": "readonly",
        "withDefaults": "readonly",
        // "computed": "readonly", //Stupidity
        // "ref": "readonly",
        // "watch": "readonly",
        // "provide": "readonly",
        // "inject": "readonly",
        // "reactive": "readonly",
        // "useRouter": "readonly",
        // "useRoute": "readonly",
        // "onMounted": "readonly",
        // "useNuxtApp": "readonly",
        "process": "readonly"
    }
}