:8080 {
	@static {
		file
		path *.ico *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.txt
	}
	header @static Cache-Control max-age=31556952

	root * /var/www/html/.output

	encode zstd gzip

	reverse_proxy localhost:3001 {
		header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
		header_up X-Forwarded-Host {header.X-Forwarded-Host}
		header_up X-Forwarded-For {header.X-Forwarded-For}
		header_up X-Real-IP {header.X-Forwarded-For}
	}

	file_server
}
