/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.history
.env.testing
15
dump.rdb
public/vendor/telescope
public/*.xml
rr
.rr.yaml
/caddy
frankenphp
frankenphp-worker.php
15
dump.rdb
public/vendor/telescope
public/*.xml
/.scribe
/resources/views/scribe
/public/docs
