:8080 {
	@static {
		file
		path *.ico *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2
	}
	header @static Cache-Control max-age=31556952

	redir /api.php* /v2API?{query}

	root * /var/www/html/public

	encode zstd gzip

	reverse_proxy localhost:9000 {
		header_up X-Forwarded-Proto {header.X-Forwarded-Proto}
		header_up X-Forwarded-Host {header.X-Forwarded-Host}
		header_up Host {header.X-Forwarded-Host}
		header_up X-Forwarded-For {header.X-Forwarded-For}
	}

	file_server
}
