body, html {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-size: 14px;
    font-family: 
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    overflow-y: scroll;
}

:root {
    --border-radius: 4px;
    --tag-border-radius: 8px;
    --content-border-radius: 8px;

    --mws-blue: #006ce0;
    --mws-blue-hover: #007bff;
    --mws-blue-text: #fff;

    --mws-green: #29a847;
    --mws-green-hover: #2fc151; 
    --mws-green-text: #fff;

    --mws-pink: #e93f8e;
    --mws-pink-hover: #ec5b9e;
    --mws-pink-text: #fff;

    --mws-red: #dc3848;
    --mws-red-hover: #e05260;
    --mws-red-text: #fff;

    --mws-teal: #20cb98;
    --mws-teal-hover: #2bdea8;
    --mws-teal-text: #000;

    --mws-purple: #6f42c1;
    --mws-purple-hover: #8159c9;
    --mws-purple-text: #fff;

    --mws-gray: #879097;
    --mws-gray-hover: #979fa5;
    --mws-gray-text: #fff;

    --mws-orange: #fd7e17;
    --mws-orange-hover: #fd8f35;
    --mws-orange-text: #fff;

    --mws-cyan: #17a2b8;
    --mws-cyan-hover: #1abcd5;
    --mws-cyan-text: #fff;

    --primary-color: var(--mws-blue);
    --primary-hover-color: var(--mws-blue-hover);
    --primary-color-text: #fff;
    --success-color: #00ff15;
    --danger-color: #df1d1d;
    --warning-color: #ecdd0f;
    --info-color: #5978ff;
    --danger-hover-color: #e42f2f;
    --warning-hover-color: #f2e531;
}

.blue-scheme {
	--primary-color: var(--mws-blue);
	--primary-hover-color: var(--mws-blue-hover);
	--primary-color-text: var(--mws-blue-text);
}

.green-scheme {
	--primary-color: var(--mws-green);
	--primary-hover-color: var(--mws-green-hover);
	--primary-color-text: var(--mws-green-text);
}

.red-scheme {
	--primary-color: var(--mws-red);
	--primary-hover-color: var(--mws-red-hover);
	--primary-color-text: var(--mws-red-text);
}

.pink-scheme {
	--primary-color: var(--mws-pink);
	--primary-hover-color: var(--mws-pink-hover);
	--primary-color-text: var(--mws-pink-text);
}

.teal-scheme {
	--primary-color: var(--mws-teal);
	--primary-hover-color: var(--mws-teal-hover);
	--primary-color-text: var(--mws-teal-text);
}

.purple-scheme {
	--primary-color: var(--mws-purple);
	--primary-hover-color: var(--mws-purple-hover);
	--primary-color-text: var(--mws-purple-text);
}

.gray-scheme {
	--primary-color: var(--mws-gray);
	--primary-hover-color: var(--mws-gray-hover);
	--primary-color-text: var(--mws-gray-text);
}

.orange-scheme {
	--primary-color: var(--mws-orange);
	--primary-hover-color: var(--mws-orange-hover);
	--primary-color-text: var(--mws-orange-text);
}

.cyan-scheme {
	--primary-color: var(--mws-cyan);
	--primary-hover-color: var(--mws-cyan-hover);
	--primary-color-text: var(--mws-cyan-text);
}

html.dark {
    --bg-color: #212529;
    --content-bg-color: #2b3036;
    --secondary-content-bg-color: #24282d;
    --content-bg-color-glass: #2b3036ce;
    --alt-content-bg-color: #22262b;

    --table-even-color: var(--content-bg-color);
    --table-odd-color: hsl(213, 11%, 17%);
    --alt-table-even-color: var(--alt-content-bg-color);
    --alt-table-odd-color: hsl(213, 12%, 17%);

    --dropdown-bg: #1f2429;
    --dropdown-hover-bg: #2e3338;
    --dropdown-selected-bg: #252b31;
    --dropdown-text-color: #ccc;
    --text-color: #fff;
    --secondary-text-color: #d8d8d8;
    --text-inactive: #6d6d6d;
    --secondary-color: #5f5f5f;
    --secondary-hover-color: #737373;
    --disabled-color: #3c3c3c;
    --input-bg-color: #17191c;
    --input-border-color: #363d44;
    --input-border-hover-color: #505762;
    --header-footer-color: #32373e;
    --button-text-color: #fff;
    --tab-selected-color: rgb(255 255 255 / 5%);
    --danger-bg-color: #382125;
    --info-bg-color: #1e293f;
    --warning-bg-color: #383925;
    --success-bg-color: #1e3b28;
    --kbd-bg: #474747;
    --breadcrumb-secondary: #9c9c9c;

    color-scheme: dark;
}

html.light {
    --bg-color: #cfd0d3;
    --content-bg-color: #e9e9e9;
    --secondary-content-bg-color: #e3e3e3;
    --content-bg-color-glass: #ecedeebd;
    --alt-content-bg-color: #dedede;
    --dropdown-bg: #c9cbcf;
    --dropdown-hover-bg: #aeb1b7;
    --dropdown-selected-bg: #bbbec3;
    --dropdown-text-color: #ccc;
    --text-color: #313131;
    --secondary-text-color: #4d4d4d;
    --text-inactive: #6d6d6d;
    --secondary-color: #5f5f5f;
    --secondary-hover-color: #595959;
    --disabled-color: #3c3c3c;
    --input-bg-color: #c9c9c9;
    --input-border-color: #adadad;
    --input-border-hover-color: #505762;
    --header-footer-color: #e9e9e9;
    --button-text-color: #fff;
    --tab-selected-color: rgb(0 0 0 / 5%);
    --danger-bg-color: #ffa7a7;
    --info-bg-color: #aac2f3;
    --warning-bg-color: #eee679;
    --warning-color: #ceab41;
    --success-bg-color: #4fc541;
    --success-color: #009d0d;
    --float-bg-color: #99999980;
    --kbd-bg: #a8a8a8;
    --breadcrumb-secondary: #8f8f8f;

    --table-even-color: var(--content-bg-color);
    --table-odd-color: #e1e3e5;
    --alt-table-even-color: var(--alt-content-bg-color);
    --alt-table-odd-color: #dcdde0;

    color-scheme: light;
}

.bg-success {
    background-color: var(--success-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-danger {
    background-color: var(--danger-color);
}

table {
    text-align: left;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

a:link:hover, a:visited:hover {
    color: var(--primary-hover-color);
    transition: color 0.15s ease-in-out;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-top: 0;
    font-weight: 800;
}

.h1, h1 {
    font-size: 2rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h3, h3 {
    font-size: 1.25rem;
}

.h6, h6, .h5, h5, .h4, h4 {
    font-size: 1rem;
}

.flex hr, .inline-flex hr {
    width: 100%;
    margin: 0;
}

.text-primary {
    color: var(--primary-color);
}

.text-body {
    color: var(--text-color);
}

.no-hover, .no-hover:hover {
    color: inherit !important;
}

.text-secondary {
    color: var(--secondary-text-color);
}

a {
    display: inline-block;
}

/* Animation stuff */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.round {
    border-radius: var(--border-radius);
}

.banner {
    display: flex;
    width: 100%;
    height: 270px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size:cover;
}

.default-banner {
    background-repeat: repeat;
    background-size: auto;
}

.light .default-banner {
    background-color: #d6d8db;
}

.content-block {
    max-width: 100%;
    background-color: var(--content-bg-color);
    border-radius: var(--content-border-radius);
}

.content-block-glass {
    background-color: var(--content-bg-color-glass);
}

.content-bg {
    background-color: var(--content-bg-color);
}

.alt-content-bg {
    background-color: var(--alt-content-bg-color);
}

.v-select {
    width: 100%;
}

.list-button {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    color: var(--text-color);
    border-radius: var(--content-border-radius);
    background-color: var(--alt-content-bg-color);
    padding: 1rem;
    flex: 1;
}

* {
    unicode-bidi: bidi-override;
}

.text-success {
    color: var(--success-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-warning {
    color: var(--warning-color);
}

.input-error {
    outline-style: groove !important;
    outline-color: var(--danger-color) !important;
}

.ratio-image {
    object-fit: cover;
    aspect-ratio: 2/1;
    width: 100%;
}

@media (max-width:768px) {
    .latest-games .game:nth-of-type(n+4) {
        display: none;
    }
    .mods-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
}

@media (min-width:768px) and (max-width:1280px) {
    .latest-games .game:nth-of-type(n+5) {
        display: none;
    }
    .mods-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
}

@media (min-width:1280px) and (max-width:1536px) {
    .latest-games .game:nth-of-type(n+6) {
        display: none
    }
    .mods-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    }
}

@media (min-width:1536px) and (max-width:1920px) {
    .mods-grid {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)) !important;
    }
}

.threads-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


.mods-grid {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.games-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.games-grid, .mods-grid, .threads-grid {
    display: grid;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.md-editor-open {
    overflow: hidden;
}

.markdown video {
    height: 315px;
    width: 560px;
}

/* So gap works nicely if font size is set as 16px, 
but we decided to go with 14px so guess what? gap is inconsistent as there is no such thing as float pixel.
*/

.gap-1 {
    grid-gap: 4px;
    gap: 4px;
}

.gap-2 {
    grid-gap: 8px;
    gap: 8px;
}

.gap-3 {
    grid-gap: 12px;
    gap: 12px;
}

.gap-4 {
    grid-gap: 16px;
    gap: 16px;
}

.gap-5 {
    grid-gap: 20px;
    gap: 20px;
}

.gap-6 {
    grid-gap: 24px;
    gap: 24px;
}

.gap-7 {
    grid-gap: 28px;
    gap: 28px;
}

.gap-8 {
    grid-gap: 32px;
    gap: 32px;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 1em;
    display: inline-flex;
}

.menu-closer {
    background-color: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.collapse-button {
    font-size: 1.5rem;
}

@media (min-width:1024px) {
    .nav-menu.flex-col {
        display: flex !important;
    }
}

@media (max-width:1024px) {
    .nav-menu.flex-col {
        background: var(--content-bg-color);
        border-radius: var(--border-radius);
        left: 4px;
        top: 64px;
        align-items: start;
        position: fixed;
        z-index: 100;
        height: calc(100vh - 70px);
        flex: 1;
    }
}

.float-bg {
    background: var(--alt-content-bg-color);
}

.icon {
    vertical-align: -0.25em !important;
    overflow: visible !important;
}

svg:not(:root).icon, svg:not(:host).icon {
    overflow: visible ;
    box-sizing: content-box;
}

.focus {
    background-color: #ffd4001a !important;
    border-left: solid 3px #ffd400;
    border-radius: var(--border-radius);
}

.ad-scroll {
    top: 50%;
    transform: translateY(-50%);
    position: fixed !important;
}

.ad-sides {
    display: none;
    position: absolute;
    transition: top 0.25s;
}

.ad-sides>div {
    width: 160px;
    height: 610px;
}

@media (min-width:1279px) {
    .ad-sides {
        display: block !important;
        width: 160px;
        height: 610px;
    }
}

.icon {
    display: inline-block;
}

kbd {
    background-color: var(--kbd-bg);
    color: var(--text-color);
    border-radius: 3px;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.vel-fade-enter-active,
.vel-fade-leave-active {
    -webkit-transition: all .1s ease !important;
    transition: all .1s ease !important;
}

.vel-btns-wrapper .btn__next {
    right: 0 !important;
}

.vel-btns-wrapper .btn__prev {
    left: 0 !important;
}

.vel-btns-wrapper .btn__next, .vel-btns-wrapper .btn__prev {
    padding: 2rem !important;
}

.ellipsis-overflow {
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin: 0 0.5rem;
    -webkit-box-orient: vertical;
}