.ratio-image {
    object-fit: cover;
    aspect-ratio: 2/1;
    width: 100%;
}

@media (max-width:600px) {
    .cats-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .games-grid>a:nth-of-type(n+4) {
        display: none
    }

    #header-search {
        width: 300px;
    }
}

@media (min-width:600px) and (max-width:850px) {
    .cats-grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .games-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .games-grid>a:nth-of-type(n+7) {
        display: none
    }

    #header-search {
        width: 300px;
    }
}

@media (min-width:850px) and (max-width:1599px) {
    .cats-grid {
        grid-template-columns: repeat(4, 1fr)
    }

    .games-grid {
        grid-template-columns: repeat(5, 1fr)
    }

    .games-grid>a:nth-of-type(n+6) {
        display: none
    }

    #header-search {
        width: 250px;
    }
}

@media (min-width:1600px) and (max-width:1829px) {
    .cats-grid {
        grid-template-columns: repeat(5, 1fr)
    }

    .games-grid {
        grid-template-columns: repeat(8, 1fr)
    }

    #header-search {
        width: 300px;
    }
}

@media (min-width:1830px) {
    .cats-grid {
        grid-template-columns: repeat(6, 1fr)
    }

    .games-grid {
        grid-template-columns: repeat(8, 1fr)
    }
}

.mods-grid {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.mods-grid .card-img-top {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.cats-grid,
.games-grid,
.mods-grid {
    display: grid;
}