/* Changes to conform the UI modules we use to our design */

.va-input-wrapper__container, .va-input-wrapper, .va-select {
    width: 100% !important;
}

.va-input__content__input {
    border-radius: var(--border-radius);
}

.va-input-wrapper--bordered {
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
}

.va-dropdown__content {
    background-color: var(--dropdown-bg) !important;
}

.va-input-wrapper--bordered:after {
    border: none !important;
}

.va-input-wrapper--solid {
    --va-input-wrapper-border-color: var(--input-border-color) !important;
}

.va-input-wrapper--focused {
    --va-input-wrapper-border-color: var(--va-input-wrapper-color) !important;
}

.va-dropdown__content {
    color: var(--input-color) !important;
}
:root {
    --va-input-wrapper-background: var(--input-bg-color) !important;
    --va-input-text-color: var(--text-color) !important;

    --popper-theme-background-color: var(--dropdown-bg);
    --popper-theme-background-color-hover: var(--dropdown-bg);
    --popper-theme-padding: 0.5rem;
    --popper-theme-border-radius: var(--border-radius);

    --va-modal-dialog-box-shadow: 0 !important;
    --va-select-dropdown-background: var(--dropdown-bg) !important;
    --va-font-family: initial !important;
    --va-toast-width: 350px !important;
}

.popper {
    word-break: break-word;
    max-width: 300px;
}

.va-modal--size-large, .va-modal--size-large .va-modal__inner {
    min-width: 992px;
}

.va-modal__dialog, .va-modal .va-modal__inner {
    min-width: 800px;
}

.va-modal--size-small, .va-modal--size-small .va-modal__inner {
    min-width: 500px;
}

.va-modal__dialog {
    color: var(--text-color) !important;
    background-color: var(--content-bg-color) !important;
}

.va-modal__dialog, .va-modal__inner, .va-modal__inner > div {
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
}

.va-toast {
    border-radius: var(--border-radius) !important;
    border: none !important;
}