/* Changes to conform the UI modules we use to our design */
.v-popper__inner {
    background: var(--dropdown-bg) !important;
    color: var(--text-color) !important;
    border-radius: var(--border-radius) !important;
    border-color: var(--input-border-color) !important;
    max-height: 48vh;
}

.v-popper {
    width: auto !important;
}

.v-popper__arrow-outer {
    border-color: var(--dropdown-bg) !important;
}

.v-popper__arrow-inner {
    border-color: var(--dropdown-hover-bg) !important;
}