/* Changes to conform the UI modules we use to our design */

.va-input-wrapper__container, .va-input-wrapper, .va-select {
    width: 100% !important;
}

.va-input__content__input {
    border-radius: var(--border-radius);
}

.va-input-wrapper--bordered {
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
}

.va-dropdown__content {
    background-color: var(--dropdown-bg) !important;
}

.va-input-wrapper--bordered:after {
    border: none !important;
}

.va-input-wrapper--solid {
    --va-input-wrapper-border-color: var(--input-border-color) !important;
}

.va-input-wrapper--focused {
    --va-input-wrapper-border-color: var(--va-input-wrapper-color) !important;
}

.va-dropdown__content {
    color: var(--input-color) !important;
}
:root {
    --va-input-wrapper-background: var(--input-bg-color) !important;
    --va-input-text-color: var(--text-color) !important;

    --popper-theme-background-color: var(--dropdown-bg);
    --popper-theme-background-color-hover: var(--dropdown-bg);
    --popper-theme-padding: 0.5rem;
    --popper-theme-border-radius: var(--border-radius);

    --va-modal-dialog-box-shadow: 0 !important;
    --va-select-dropdown-background: var(--dropdown-bg) !important;
    --va-font-family: initial !important;
    --va-toast-width: 350px !important;

    --va-dropdown-content-wrapper-z-index: 500 !important;
}

.popper {
    word-break: break-word;
    max-width: 300px;
}

:root {
    --vs-dropdown-bg: var(--dropdown-bg) !important;
    --vs-dropdown-option--active-bg: var(--dropdown-hover-bg) !important;
    --vs-controls-color: var(--text-color) !important;
    --vs-dropdown-option-padding: 8px 16px !important;
}

.v-select {
    background-color: var(--input-bg-color) !important;
    color: var(--text-color) !important;
}

.vs__search, .vs__search:focus {
    padding: 0 !important;
    margin: 0px 4px !important;
}

.vs__dropdown-option {
    line-height: inherit !important;
}

.vs__dropdown-toggle {
    padding: 0 !important;
}

.vs__selected-options {
    gap: 4px;
    padding: 0.25rem !important;
}

.vs--open .vs__open-indicator {
    margin-bottom: 4px;
}

.va-select-option-list__option:hover {
    background-color: var(--dropdown-hover-bg) !important;
}