.va-dropdown {
    width: 100%;
}

:root {
    --va-input-color: var(--input-bg-color) !important;
    --va-input-text-color: var(--text-color) !important;

    --popper-theme-background-color: var(--dropdown-bg);
    --popper-theme-background-color-hover: var(--dropdown-bg);
}