.va-input-wrapper__container, .va-input-wrapper, .va-select {
    width: 100% !important;
}

.va-input__content__input {
    border-radius: var(--border-radius);
}

.va-input-wrapper--bordered {
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
}

.va-dropdown__content {
    background-color: var(--dropdown-bg) !important;
}

.va-input-wrapper--bordered:after {
    border: none !important;
}

.va-input-wrapper--solid {
    --va-input-wrapper-border-color: var(--input-border-color) !important;
}

.va-input-wrapper--focused {
    --va-input-wrapper-border-color: var(--va-input-wrapper-color) !important;
}

.va-dropdown__content {
    color: var(--input-color) !important;
}
:root {
    --va-input-wrapper-background: var(--input-bg-color) !important;
    --va-input-text-color: var(--text-color) !important;

    --popper-theme-background-color: var(--dropdown-bg);
    --popper-theme-background-color-hover: var(--dropdown-bg);
    --va-modal-dialog-box-shadow: 0 !important;
    --va-select-dropdown-background: var(--dropdown-bg) !important;
}