.markdown {
    word-break: break-word;
}

.markdown .spoiler-block, .markdown table {
	margin-bottom: 16px;
}

.markdown iframe {
	display: block;
	max-width: 100%;
}

.markdown h1, .markdown h2 {
	border-bottom: 1px solid #424242;
	padding-bottom: 0.5em;
}

.markdown h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

.markdown hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #424242;
	background:#424242;
}

.markdown img {
	max-height: 250px !important;
	max-width: 100%;
	display: block;
}

.markdown li {
	margin-bottom: 0.5rem;
}

.task-list-item {
	list-style-type: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center div, .center img {
	margin-left: auto;
	margin-right: auto;
}

.spoiler summary:hover {
	cursor: pointer;
}

.spoiler summary {
	user-select: none;
	background-color: var(--alt-content-bg-color);
	padding: 0.5rem;
}

.markdown .codeblock, blockquote, code, .spoiler {
	margin: 0px;
	padding: 0.5rem;
	font-family: revert;
	border-radius: var(--border-radius);
	background-color: var(--alt-content-bg-color);
}

.markdown .codeblock, blockquote, .spoiler {
	margin-bottom: 1rem;
}

.markdown code {
	display: inline-block;
}

blockquote {
	position: relative;
}

blockquote::after {
	background: var(--primary-color);
	border-radius: var(--border-radius);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
}

.markdown code {
	word-break: break-word;
}